{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=divice-width, initial-scale=1">

	<title>Learning Logs</title>

	{% bootstrap_css %}
	{% bootstrap_javascript %}

</head>
<body>
	<!-- Static Navbar -->
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" area-expanded="false" area-controls="navbar"></button>
				<a class="navbar-brand" href="{% url 'learning_logs:index' %}">Learning Logs</a>
			</div>

			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'learning_logs:topics' %}">Topics</a></li>
					<li><a href="{% url 'pizzas:index' %}">Pizzas</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
						<li><a>{{ user.username.title }}</a></li>
						<li><a href="{% url 'users:logout_view' %}">LogOut</a></li>
					{% else %}
						<li><a href="{% url 'users:register' %}">Register</a></li>
						<li><a href="{% url 'users:login' %}">LogIn</a></li>
					{% endif %}
				</ul>
			</div> <!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container">
		<div class="page-header">
			{% block header %}{% endblock header %}
		</div>
		<div>
			{% block content %}{% endblock content %}
		</div>
	</div><!-- /container -->

</body>
</html>

<!-- <p>
	<h2>
		<a href="{% url 'learning_logs:index' %}">Learining Log</a> - 
		<a href="{% url 'learning_logs:topics' %}">Topics</a> - 
		<a href="{% url 'pizzas:index' %}">Pizzas</a> - 

		{% if user.is_authenticated %}
			{{ user.username.title }}
			<a href="{% url 'users:logout_view' %}">LogOut</a>
		{% else %}
			<a href="{% url 'users:register' %}">Register</a> - 
			<a href="{% url 'users:login' %}">LogIn</a>
		{% endif %}
	</h2>
</p>
 -->