{% extends 'learning_logs/base.html' %}

{% block content %}

	<h3>
		<a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
	</h3>
	<h4>Edit Entry: </h4>
	<form action="{% url 'learning_logs:edit_entry' entry.id %}" method='POST'>
		{% csrf_token %}
		{{ form.as_p }}
		<button name="submit">Save</button>
	</form>

{% endblock content %}
