{% extends 'learning_logs/base.html' %}

{% block header %}
	<div class="jumbotron">
		<h3>Track Your Learning</h3>
	</div>
{% endblock header %}

{% block content %}
	<h4>
		<a href="{% url 'users:register' %}">Register an account</a> to make your own learning log, and list the topics you're learining about.
	</h4>
	<h4>
		Whenever you learn something new about a topic, make an entry summarizing what you've learned.
	</h4>
	<!-- <p>Learning Log</p>
	<p>Learning logs helps you keep track of your learning, for any topic you are learning about.</p> -->
{% endblock content %}
