{% extends 'learning_logs/base.html' %}

{% block content %}

	<h3>Add a New Topic:</h3>

	<form action="{% url 'learning_logs:new_topic' %}" method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" name="submit" value="Create">
	</form>

{% endblock content %}
