{% extends 'learning_logs/base.html' %}

{% block content %}

	<h3>
		<a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
	</h3>

	<p>Add your New Learning: </p>
	<form action="{% url 'learning_logs:new_entry' topic.id %}", method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<button name="Submit">Add</button>
	</form>

{% endblock content %}
