{% extends 'learning_logs/base.html' %}

{% block content %}

	<h3>Topics | <a href="{% url 'learning_logs:new_topic' %}">Create</a></h3>

	<ul>
		{% for topic in topics %}
			<li>
				<strong>
					<a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
				</strong>
			</li>
		{% empty %}
			<li>No Topic has been added yet.</li>
		{% endfor %}
	</ul>

{% endblock content %}
