{% extends 'learning_logs/base.html' %}

{% block content %}

	<h3>Topic: {{ topic }} | author: {{ topic.owner }}</h3>

	<h4>Entries: | <a href="{% url 'learning_logs:new_entry' topic.id %}">Add New Entry</a></h4>
	<ol>
		{% for entry in entries %}
			<li>
			 	<p>{{ entry.text|linebreaks }}</p>
			 	<p>
			 		<b>Date: </b>{{ entry.date_added }} | 
			 		<b>{{ topic.owner }}</b>
			 		<strong> | 
			 			<a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit</a>
			 		</strong>
			 	</p>
			</li>
		{% empty %}
			<p>There's no entry for this post yet.</p>
		{% endfor %}
	</ol>

{% endblock content %}
