{% extends 'learning_logs/base.html' %}

{% block content %}

	<h3>Log In</h3>

	{% if form.errors %}
		<p>Your Username and Password didn't match. Please try again.</p>
	{% endif %}

	<form method="post" action="{% url 'users:login' %}">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">LogIn</button>

		<!-- it redirects users to login page after the successful login. -->
		<!-- <input type="hidden" name="next" value="{% url 'learning_logs:index' %}"> -->
	</form>

{% endblock content %}