{% extends 'learning_logs/base.html' %}

{% block content %}
	<h3>Register</h3>

	<form method="POST" action="{% url 'users:register' %}">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Register</button>
		<input type="hidden" name="next" value="{% url 'learning_logs:index' %}">
	</form>

{% endblock content %}
