<h2>
	<a href="{% url 'pizzas:index' %}">Pizzas Logs</a> - 
	<a href="{% url 'pizzas:pizzas' %}">Pizzas</a> - 
	<a href="{% url 'learning_logs:index' %}">Learning Logs</a>

</h2>

{% block content %}{% endblock content %}