{% extends 'pizzas/base.html' %}

{% block content %}
	<h3>
		<a href="{% url 'pizzas:pizza' pizza.id %}">Pizza</a>
	</h3>

	<h4>Edit Topping:</h4>
	<form action="{% url 'pizzas:edit_topping' topping.id %}" method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<button name="submit">Edit</button>
	</form>

{% endblock content %}
