{% extends 'pizzas/base.html' %}

{% block content %}

	<h3>
		<a href="{% url 'pizzas:pizza' pizza.id %}">{{ pizza }}</a>
	</h3>
	<p>Add new Topping: </p>

	<form action="{% url 'pizzas:add_topping' pizza.id %}" method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<button name="submit">Add</button>
	</form>
{% endblock content %}
