{% extends 'pizzas/base.html' %}

{% block content %}
	<h4>Add your new Pizza Type: </h4>
	<form action="{% url 'pizzas:add_pizza' %}", method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" name="submit" value="Add">
	</form>
{% endblock content %}