{% extends 'pizzas/base.html' %}

{% block content %}
	<h3>{{ pizza.id}}. {{ pizza }}</h3>

	<h4>Toppings: | <a href="{% url 'pizzas:add_topping' pizza.id %}">Add</a></h4>
	<ol>
		{% for topping in toppings %}
			<li>
				<strong>
					<p>{{ topping.name.title }}</p>
				</strong>
				<p>Date: {{ topping.date_added }} | 
					<strong>
						<a href="{% url 'pizzas:edit_topping' topping.id %}">Edit</a>
					</strong>
				</p>
			</li>
		{% empty %}
			<p>You have no Topping entries. Make some entries.</p>
		{% endfor %}
	</ol>
	
{% endblock content %}