{% extends 'pizzas/base.html' %}

{% block content %}
	<h3>Pizza List: | <a href="{% url 'pizzas:add_pizza' %}">Add</a></h3>
	<ol>
		{% for pizza in pizzas %}
			<strong>
				<li><a href="{% url 'pizzas:pizza' pizza.id %}">{{ pizza }}</a></li>
			</strong>
		{% empty %}
			<p>No Data on Pizza. Add some Pizzas.</p>
		{% endfor %}
	</ol>

{% endblock content %}
