<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base Page</title>
    {% block stylesheet %}
    {% endblock stylesheet %}
</head>
<body>
<header>
    <a href="{% url 'home' %}">Home</a> |
    <a href="{% url 'about' %}">About</a>
</header>
{% block content %}
{% endblock content %}

{% block script %}]
{% endblock script %}

</body>
</html>